<p> This website gives information for every student. It also allows to add, delete, edit student details </p>
<p> It also allows to add, delete and edit comments. </p>
<p>To Login </p>

<p>Username for the website is <strong>kunal</strong></p>
<p>Password is letmein123 <strong>letmein123</strong></p>
