<h2>Comment</h2>
<a href="/comments/new">Create a new Comment</a>
<br>
<br>
<h3> Previous Comments </h3>
<%if @comments.any?%>
  <ul>
    <%@comments.each do |comment|%>
      <li>Comment : <%=comment.comment%> <br>
      Created at : <%= comment.created_at %></li>
      <a href="/comments/<%=comment.cid%>"> Details </a>
      <br>
      <br>
    <%end%>
  </ul>
<%else%>
  <p> No previous comment. </p>
<%end%>
