<h2 class="heading"> Add a New Comment </h2>

<div>
  <form method="POST" action="/comments">
    <label for="comment">
    Name :                   <input type="text" name="comment[name]"> <br>
    Enter your Comment here: <input type="text" name="comment[comment]" required> <br>
      <label for="name"><br>
        <input type="submit" value="Save Comment">  
  </form>
</div>
